name: Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
      - main

jobs:
  testing:
    name: Run Tests
    runs-on: ubuntu-latest
    container: santiagonar1/tum-latex:latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Compile code
        run: |
          mkdir build && cd build
          cmake -DCMAKE_PROJECT_TOP_LEVEL_INCLUDES=conan_provider.cmake ..
          make

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure